.indicatorName {
    margin-right : 20px;
    font-weight: bold;
    width: 100px;
}

.indicatorButton {
    margin-right : 20px;
    width : 120px;
    height: 80px;
    margin:3px;
    padding: 3px;
    font-size: 0.9rem !important;